<div>
  <p>PURCHASE TICKETS</p>
  <p>$2500.00</p>
  <p>1 ticket maximum per purchase.</p>
</div>

<p>PRIVATE PARTY FOR 10-12 PEOPLE</p>
<p>
  The Vault at Francie has fast become one of the premier private rooms in
  Brooklyn. We would love to host a holiday celebration for you in this
  beautiful space of exposed brick and custom furnishings.
</p>

<p>
  A four-course "family style" menu featuring the best of Francie including
  handmade pastas and the Crown Roast of Rohan Duck will be served. A custom
  wine pairings will enhance and compliment the menu and be handled seamlessly
  by our team.
</p>

<p>
  One ticket is good for a party of 10 or 12 persons at $250 per person. Certain
  restrictions will apply. Please call 718.218.7572 or click here for Inquiry
  Form to check availability. Price is based on a group of ten or twelve ($250
  per person for menu and wine pairing). Price is non-inclusive of tax,
  administrative fees, service, or additional food and beverage.
</p>
