.header {
  &-container {
    background: white;
    height: 6rem;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  &-link {
    &-group {
      align-items: center;
      display: flex;
      gap: 2rem;
      height: 100%;
    }
  }
}
