<p>
  Drop by the Bar at Francie and step into another world. Conversation flows
  over sparkling crystal and vintage glassware. Behind the bar, Zoe Martin
  conjure up new concoctions and time-honored classics.
</p>

<p>
  Before you savor that first sip, take in the surroundings. Textured walls,
  ebony columns, back-lit "floating bottles," and a warm zinc bar set a stylish
  tone. Designed by Glen Coben, the bar at Francie at once evokes the timeless
  elegance of New York City, yet is distinctly Brooklyn.
</p>

<p>
  From late afternoon to late night, the Bar at Francie is infused with a
  relaxed, inviting energy. To accompany your drinks, choose from a light menu
  of bar snacks, shellfish, and handmade pastas.
</p>

<div>
  <div>
    <img src="" />
  </div>

  <div>
    <img src="" />
  </div>

  <div>
    <img src="" />
  </div>
</div>
