<div>
  <!-- ACTION BUTTONS -->
  <div>
    <button>Dinner</button>
    <button>Desert</button>
    <button>Cheese</button>
    <button>Drinks</button>
    <button>Private Dining Sample Menu</button>
  </div>
  <!-- DESCRIPTION -->
  <p>
    The cheese cart at Francie offers up to twenty cheeses nightly. We highlight
    cheeses from around the country, but are especially proud to feature cheeses
    from the northeastern United States. Over the course of a year, you will see
    dozens of selections from Vermont, Connecticut, New York, Pennsylvania,
    Massachusetts, and many others. We balance our cart choices with local
    favorites, worldly classics, adventurous flavors, and traditional crowd
    pleasers. A nightly selection might include:
  </p>
  <!-- SNACKS SECTION -->
  <div>
    <p>SNACKS</p>
    <div>
      <div>
        <p>ROMAN ARMY SOURDOUG</p>

        <p>sunflower spread, whipped lard</p>

        <p>£12</p>
      </div>
    </div>
  </div>
  <!-- SHELLFISH SECTION -->
  <div>
    <p>SHELLFISH</p>
    <div>
      <div>
        <p>ROMAN ARMY SOURDOUG</p>

        <p>sunflower spread, whipped lard</p>

        <p>£12</p>
      </div>
    </div>
  </div>
</div>
