<p>HOURS & LOCATION</p>
<ul>
  <li>136 Broadway,</li>
  <li>Brooklyn,</li>
  <li>NY 11249 718-218-7572</li>
  <li>info@franciebrooklyn.com</li>
</ul>

<ul>
  <li>Dinner</li>
  <li>Monday-Friday</li>
  <li>5:30 - 10:30 pm</li>
</ul>

<ul>
  <li>Dinner</li>
  <li>Saturday</li>
  <li>5:30 - qq pm</li>
</ul>

<p>Need to know:</p>

<p>
  Francie takes reservations up to 30 days in advance. We regret we are unable
  to take reservations by email, although if you are super sweet, you can try.
  You may book through the link on our website or call 718.218.7572
</p>

<p>
  We answer our phone starting at 2pm, Tuesday through Saturday. Read that
  again, we answer our phone! Some restaurants don't even have a phone. We name
  no names, it takes all kinds to make a world.
</p>

<p>
  Francie does not allow strollers, prams, or e-scooters in the restaurant, nor
  will we store them for you. No outside food or beverages will be allowed in
  the restaurant, including cakes. A rolling stone gathers no moss. Francie does
  not serve the Crown Roast of Duck or the Côte de Bouef at the bar. A duck on
  the plate is worth two at the pass.
</p>

<p>
  Occasionally, when we do not have a party booked in our private room, The
  Vault at Francie, we will open up the tables to people on our "notify" or
  "waitlist," and seat the room for a la carte dining.
</p>

<p>
  When you dine at Francie, you do not dine in a bubble. Please be respectful of
  other diners and the rules of decorum and refrain from using flash
  photography, bright lights, laptops, and/or filming. Our staff are here to
  serve but they are not stars in your social media feed. Please do not
  photograph or film them without permission.
</p>

<p>
  Francie technically does not have a dress code but if you could kindly dress
  for success, whatever you take that to mean, we (and the other diners) would
  appreciate it.
</p>

<p>
  Our kitchen can accommodate most common food allergies but a general rule
  would be: the more complicated the allergy, the less chance we have to modify
  the menu.
</p>

<p>
  If you've been to paradise, but you haven't been to Francie, then you've never
  been to me.
</p>
