<p>GIFT CARDS</p>
<p>DIGITAL GIFT CARDS</p>
<p>
  After purchasing a digital gift card from us, you or your recipient will
  receive an email with a unique code. After dining, show us your code printed
  out or on your mobile phone to redeem. Best part—they never expire! Please
  note: gift cards are non-refundable
</p>
<form>
  <label htmlFor="amount">
    <p>Select Amount - Required</p>
    <select>
      <option>£100</option>
      <option>£200</option>
      <option>£300</option>
    </select>
  </label>

  <label htmlFor="recipientName">
    <p>Recipient’s Name - Required</p>
    <input type="text" placeholder="Receipent's Name" />
  </label>

  <label htmlFor="deliveryDate">
    <p>Date of Delivery - Optional</p>
    <input type="datetime-local" placeholder="Send Immediately" />
  </label>

  <label htmlFor="emailGiftCard">
    <input type="checkbox" />
    <p>Email the gift to me so I can print it and give it in-person.</p>
  </label>
  <label htmlFor="name">
    <p>Your Name - Required</p>
    <input type="text" placeholder="Your Name" />
  </label>
  <label htmlFor="email">
    <p>Your Email - Required</p>
    <input type="password" placeholder="Your Email" />
  </label>
  <label htmlFor="message">
    <p>Your Message - Optional</p>
    <input type="text" placeholder="Your Message" />
  </label>
  <button type="submit">Add to basket</button>
</form>
