.page-layout {
  &-container {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  &-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 6rem;
    width: 100%;
  }
}
