<img
  src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
/>

<img
  src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"
/>
<div>
  <p>BOOK A TABLE</p>
  <p>We would love to have you as our guest!</p>
  <button>Reservations</button>
</div>
<img
  src="https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
/>
<div>
  <p>NEED A GIFT?</p>

  <button>Gift Cards</button>
</div>
<div>
  <p>Testimonials</p>
  <div>
    <div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
        />
      </div>
      <div>
        <p>Lee Jones</p>
        <p>Five Star</p>
        <p>Really tasty food</p>
      </div>
    </div>
    <div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
        />
      </div>
      <div>
        <p>Hannah Morris</p>
        <p>Five Star</p>
        <p>Really tasty food</p>
      </div>
    </div>
    <div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
        />
      </div>
      <div>
        <p>Sean Moses</p>
        <p>Five Star</p>
        <p>Really tasty food</p>
      </div>
    </div>
  </div>
</div>
