<div>
  <div>
    <a routerLink="/events/22">
      <div>
        <img
          src="https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          alt=""
        />
      </div>
      <div>
        <p>Private party for 10-12 people</p>
        <p>Private party for 10-12 people</p>
      </div>
    </a>
    <a routerLink="/events/22">
      <div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1599582383719-907ff9af1a50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            alt=""
          />
        </div>
        <div>
          <p>Chef's table for four</p>
          <p>Chef's Table</p>
        </div>
      </div>
    </a>
  </div>
</div>
